<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="collection">
      <ion-icon name="bookmarks-outline"></ion-icon>
      Collection
    </ion-tab-button>
    <ion-tab-button tab="kids">
      <ion-icon name="accessibility-outline"></ion-icon>
      Kids
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar-number-outline"></ion-icon>
      Events
    </ion-tab-button>
    <ion-tab-button tab="feedback">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      Feedback
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>