<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="https://images.unsplash.com/photo-1558980394-9c7c8a2db303" alt="Card Image">
    <ion-card-header>
      <ion-card-title>
        
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar ligula ut justo malesuada, quis efficitur
      nibh vehicula. Maecenas nec nisl in ex suscipit suscipit.
    </ion-card-content>
  </ion-card>

  <ion-button color="primary" expand="block">Get Started</ion-button>
</ion-content>